
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

@font-face {
    font-family:outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

.qr-code-image{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.qr-holder{
    display: flex;
    justify-content:center ;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1rem;
} 

.main-white {
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    margin: 1rem;
    border-radius: 20px;
} 

.text *{
    margin: 1rem;
    font-size: 15px;
    text-align: center;
    line-height: 1.1;
}

html,body {
    height:100vh;
    background-color: hsl(212, 45%, 89%);
}

.t1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.t2{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-bottom: 10%;
    
}

.all{
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 376px) {
    .main-white {
        max-width:318px }

    
}